[Unit]
Description=Streaming panel service backend

[Service]
WorkingDirectory=/opt/stream/server
Environment="FLASK_APP=main.py"
EnvironmentFile=/opt/stream/server/.env
ExecStart=/usr/local/bin/poetry run flask run
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
