.color-picker {
    position: relative;

    .color {
        width: 36px;
        height: 14px;
        border-radius: 2px;
        border: solid 1px rgba(0, 0, 0, .2);
    }

    .swatch {
        background: #fff;
        display: inline-block;
        cursor: pointer;
    }

    .popover {
        position: absolute;
        z-index: 2;
        right: 0;
    }

    .cover {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
}
